* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.signup-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 12px;
  background: rgba(174, 188, 189, 0.479);
  background-blend-mode: darken;
  overflow: hidden;
  background: rgba(56, 152, 255, 0.3647058824);
  position: absolute;
  z-index: 2;
}
.signup-container .inner {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  background: rgba(255, 255, 255, 0.479);
}
@media (max-width: 768px) {
  .signup-container .inner {
    min-width: 23em;
  }
}
.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.signup-container .form-group {
  margin-bottom: 15px;
}
.signup-container .form-group label {
  display: block;
  margin-bottom: 5px;
}
.signup-container .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.685);
}
.signup-container .passwordDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-container .passwordDiv i {
  display: block;
  font-size: 18px;
  margin: 7px;
}
.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: #222e3a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.signup-container button:hover {
  background-color: #425970;
}
.signup-container .error {
  color: red;
  margin-bottom: 15px;
}
.signup-container .success {
  color: green;
  margin-bottom: 15px;
}

.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
  background: rgba(56, 152, 255, 0.3647058824);
  background-blend-mode: darken;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
.login-container .inner {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  background: rgba(255, 255, 255, 0.301);
}
@media (max-width: 768px) {
  .login-container .inner {
    min-width: 23em;
  }
}
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-container .form-group {
  margin-bottom: 15px;
}
.login-container .form-group label {
  display: block;
  margin-bottom: 5px;
}
.login-container .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.685);
}
.login-container .passwordDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-container .passwordDiv i {
  display: block;
  font-size: 18px;
  margin: 7px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #222e3a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-container button:hover {
  background-color: #425970;
}
.login-container .error {
  color: red;
  margin-bottom: 15px;
}
.login-container .success {
  color: green;
  margin-bottom: 15px;
}

.allCover {
  position: relative;
}
.allCover .imgWrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 30%;
}

.dots {
  padding: 4px;
  border-radius: 20px;
  display: flex;
  width: 4.5em;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(206, 238, 238, 0.4862745098); /* Darker shade of green */
}

.dots div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 7px;
  background-color: #0d7785; /* Main theme color */
  transition: 1s ease-in-out;
}

.goUp {
  transform: translateY(-20%);
}

.two {
  transform: translateY(45%);
}

.three {
  transform: translateY(-70%);
}

.headTest {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.418), #9bc3f0, white);
  width: 100%;
  overflow: hidden;
  min-height: 100vh; /* Ensure container takes at least full viewport height */
  height: auto;
  position: relative;
  z-index: 2;
  background-attachment: fixed; /* Optional: Keeps the background image fixed while scrolling */
  background-position: center; /* Ensures the image is centered */
}
.container .cont_header {
  width: 100%;
  height: 4em;
  position: absolute;
  top: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
@media (max-width: 636px) {
  .container .cont_header {
    width: 98%;
  }
}

.innerCont {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  width: 55%;
  height: 26.3em; /* Maintain fixed height */
  border-radius: 10px; /* Rounded corners */
  background: linear-gradient(rgba(255, 255, 255, 0.575), rgba(6, 10, 240, 0.068));
  background-blend-mode: color-burn;
  background-position-y: top;
  font-family: sans-serif;
  background-size: 40em;
  overflow: auto;
  max-height: 70vh;
  margin-top: 5em;
}
.innerCont::-webkit-scrollbar {
  width: 5px;
}
.innerCont::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.innerCont::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.innerCont::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .innerCont {
    width: 80%; /* Full width on smaller screens */
  }
}
@media (max-width: 636px) {
  .innerCont {
    width: 80%; /* Full width on smaller screens */
  }
}
@media (max-width: 425px) {
  .innerCont {
    width: 95%; /* Full width on smaller screens */
  }
}
.sender {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right */
  margin: 3px 0; /* Vertical spacing between messages */
  margin-bottom: 5px;
}
.sender .senderInner {
  max-width: 19em;
  font-size: 13px;
  font-family: sans-serif;
  background: #60a6f0;
  padding: 10px; /* Inner padding */
  border-radius: 8px; /* Rounded corners */
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
  color: white;
  letter-spacing: 2px;
  box-shadow: 0 2px 5px rgba(111, 226, 178, 0.1); /* Subtle shadow */
}
.sender .senderInner .sendBut {
  width: 100%;
  padding: 10px;
  display: block;
  background: #051c35;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.171);
  color: white;
}
.sender .senderInner .files {
  width: 17em;
  border: 1px solid rgb(94, 167, 151);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}
.sender .senderInner .files .file {
  width: 5em;
  display: block;
  border: 1px solid rgba(50, 58, 50, 0.048);
  margin: 3px;
  background-color: rgba(40, 80, 67, 0.5137254902);
  border-radius: 5px;
}
.sender .senderInner .files .file .img {
  width: 100%;
  height: 100%;
}
.sender .senderInner .files .vid {
  width: 100%;
  height: 10em;
}
.sender .senderInner img {
  width: 100%;
}
.sender .dot {
  max-width: 17em;
  font-size: 16px;
  font-family: sans-serif;
  background: inherit;
  border: none;
  padding: 0px; /* Inner padding */
  border-radius: 0px; /* Rounded corners */
}

.receiver {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  margin: 3px 0; /* Vertical spacing between messages */
  margin-bottom: 5px;
}
.receiver .receiverInner {
  max-width: 19em;
  font-size: 13px;
  font-family: sans-serif;
  background-color: hsl(0, 100%, 99%); /* Light green background */
  border: 1px solid #eeece9; /* Darker green border */
  padding: 10px; /* Inner padding */
  border-radius: 8px; /* Rounded corners */
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
  letter-spacing: 2px;
}
.receiver .receiverInner .files {
  width: 17em;
  border: 1px solid rgb(94, 167, 151);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}
.receiver .receiverInner .files .file {
  width: 5em;
  display: block;
  border: 1px solid rgba(50, 58, 50, 0.048);
  margin: 3px;
  background-color: rgba(40, 80, 67, 0.5137254902);
  border-radius: 5px;
}
.receiver .receiverInner .files .file .img {
  width: 100%;
  height: 100%;
}
.receiver .receiverInner .files .vid {
  width: 100%;
  height: 10em;
}
.receiver .receiverInner .paymentLink {
  text-decoration: none;
  color: rgb(214, 193, 4);
  font-weight: bold;
  background: #000000;
  padding: 2px;
  border-radius: 4px;
}
.receiver .receiverInner img {
  width: 100%;
}
.receiver .dot {
  max-width: 17em;
  font-size: 16px;
  font-family: sans-serif;
  background: white;
  border: none;
  padding: 0px; /* Inner padding */
  border-radius: 0px; /* Rounded corners */
}

.others {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  margin-top: -5px; /* Vertical spacing between messages */
}
.others .othersInner {
  max-width: 20em;
  font-size: 11px;
  font-family: sans-serif;
  background-color: #2e2e2e; /* Light green background */
  padding: 10px; /* Inner padding */
  border-radius: 8px; /* Rounded corners */
  color: #f8f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.others .othersInner .paymentLink {
  text-decoration: none;
  color: #f18909;
  font-weight: bold;
  background: #000000;
  padding: 2px;
  border-radius: 4px;
}

.biggerPic {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.biggerPic .img {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-top: 4em;
  position: absolute;
}
@media (min-width: 768px) {
  .biggerPic .img {
    width: 30%;
  }
}
.biggerPic .img img {
  width: 100%;
  height: 80%;
}
.biggerPic .biggerPicWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.904);
}

.inputSection {
  display: flex;
  padding: 2px;
  background: rgb(183, 170, 248); /* Light green background */
  width: 53%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px; /* Rounded corners for the entire section */
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.418); /* Subtle shadow for depth */
  height: 4em;
  background: rgba(255, 255, 255, 0.164);
  margin-top: 5px;
  align-items: center;
}
.inputSection input {
  flex: 1;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3843137255); /* Theme color for border */
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.753);
  transition: border 0.3s; /* Smooth transition for border color */
}
.inputSection input:focus {
  outline: none; /* Remove default outline */
}
.inputSection i {
  display: block;
  font-size: 23px;
  border-radius: 4px;
  margin-left: 4px;
  background: rgba(0, 123, 255, 0.5333333333);
  color: white;
  box-shadow: 0 0 5px white;
  padding: 5px;
  cursor: pointer;
}
.inputSection button {
  padding: 10px;
  margin-left: 10px;
  background: #007AFF; /* Theme color for button */
  color: white;
  border: none;
  border-radius: 4px;
  height: 4em;
}
.inputSection button:hover {
  background: #0264ce; /* Darker shade on hover */
}
.inputSection button:disabled {
  background: rgba(0, 123, 255, 0.2862745098); /* Light grey for disabled state */
}

@media (max-width: 636px) {
  .inputSection {
    width: 95%;
  }
}
.errorMessage {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0; /* Add some vertical spacing */
  background-color: rgba(255, 1, 1, 0.1764705882); /* Light red background */
  border: 1px solid #f80707; /* Darker red border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(248, 248, 248, 0.062); /* Subtle shadow for depth */
  /* Optional: Add hover effect for error messages */
}
.errorMessage .errorMessageInner {
  max-width: 20em; /* Control width */
  color: #d8000c; /* Dark red text color */
  font-weight: bold; /* Make text bold */
  padding: 10px; /* Inner padding */
  border-radius: 5px; /* Rounded corners */
  font-family: sans-serif;
  font-size: 12px;
}
.errorMessage .errorMessage:hover {
  background-color: #ffd6d6; /* Slightly darker on hover */
  border-color: #ff1a1a; /* Darker border on hover */
  cursor: pointer; /* Change cursor on hover */
}

.header {
  background: linear-gradient(#edf6ff, rgba(255, 255, 255, 0.253));
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 2px solid white;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.header .header-content .logo {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.header .header-content .logo img {
  width: 2em;
  height: 2em;
  background: rgba(26, 25, 3, 0.048);
  border-radius: 50%;
  padding: 2px;
}
.header .header-content .logo span {
  display: flex;
  margin-left: 5px;
  align-items: center;
}
.header .header-content .logo span .message {
  font-family: cursive;
  font-size: 14px;
  padding: 2px;
  border-radius: 5px;
}
@media (max-width: 476px) {
  .header .header-content .logo span {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 7em;
  }
}
.header .header-content .menu-icon {
  font-size: 0.3rem;
  cursor: pointer;
  display: none;
}
.header .header-content .nav {
  display: flex;
}
@media (max-width: 476px) {
  .header .header-content .nav {
    font-size: 13px;
    width: 10em;
    font-size: 13px;
  }
}
.header .header-content .nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .header-content .nav ul li {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 476px) {
  .header .header-content .nav ul li {
    margin: 5px;
  }
}
.header .header-content .nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 4px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
.header .header-content .nav ul li a:hover {
  color: rgb(7, 7, 85);
  background-color: white;
  transition: 0.1s ease-in-out;
}
@media (max-width: 476px) {
  .header .header-content .nav ul li a {
    font-size: 11px;
  }
}
.header .header-content .nav ul li.chat {
  width: 5em;
}
.header .header-content .nav ul li.chat span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7em;
  height: 1.7em;
  padding: 4px;
  border-radius: 50%;
  background-color: rgb(255, 38, 0);
  color: white;
  margin-right: 5px;
  font-weight: bold;
  position: absolute;
  top: -30%;
  right: -30%;
}

.about-us {
  width: 100%;
  padding: 20px;
  padding-top: 6em;
  background-color: #e7f3ff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
  max-width: 700px;
}
.about-us h2 {
  color: #555;
  font-size: 1.75rem;
  margin-top: 20px;
  max-width: 700px;
}
.about-us p {
  color: #666;
  line-height: 1.6;
  max-width: 700px;
}
.about-us ul {
  list-style-type: disc;
  padding-left: 20px;
  max-width: 700px;
}
.about-us ul li {
  color: #666;
  margin: 5px 0;
  list-style-type: none;
  text-align: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: rgba(255, 255, 255, 0.507);
  height: 100vh;
}
.loading-spinner .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bouncing-spinner {
  display: flex;
  align-items: center;
}

.bouncing-spinner > div {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 100%;
  margin: 0 5px;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0) translateY(0);
  }
  50% {
    transform: scale(1) translateY(100%);
  }
}
.bounce1 {
  animation-delay: -5s;
}

.bounce2 {
  animation-delay: -3;
}

.bounce3 {
  animation-delay: 1;
}/*# sourceMappingURL=styles.css.map */