*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
position: relative;
// overflow: hidden;
}


.signup-container {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    // border: 1px solid black;
    font-family: sans-serif;
    font-size: 12px;
    background:  rgba(174, 188, 189, 0.479);
    background-blend-mode: darken;
    overflow: hidden;
    background: #3898ff5d;
    position: absolute;
    z-index: 2;
    .inner{
      width:30%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      background: rgba(255, 255, 255, 0.479);
      @media (max-width:768px) {
        min-width: 23em
      }
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.685);
      }
    }
    .passwordDiv{
      display: flex;
      align-items: center;
      justify-content: space-between;
      i{
        display: block;
        font-size: 18px;
        margin: 7px;
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color:#222e3a;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color:#425970;
      }
    }
  
    .error {
      color: red;
      margin-bottom: 15px;
    }
  
    .success {
      color: green;
      margin-bottom: 15px;
    }
  }

  
  .login-container {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    // border: 1px solid black;
    font-family: sans-serif;
    font-size: 14px;
    background: #3898ff5d;
    // background:  rgba(174, 188, 189, 0.479);
    background-blend-mode: darken;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    .inner{
      width:30%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      background: rgba(255, 255, 255, 0.301);
      @media (max-width:768px) {
        min-width: 23em
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.685);
      }
    }

    .passwordDiv{
      display: flex;
      align-items: center;
      justify-content: space-between;
      i{
        display: block;
        font-size: 18px;
        margin: 7px;
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color:#222e3a;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color:#425970;
      }
    }
  
    .error {
      color: red;
      margin-bottom: 15px;
    }
  
    .success {
      color: green;
      margin-bottom: 15px;
    }
  }

  .allCover{
    position: relative;
    // overflow: hidden;
    .imgWrapper{
      position: absolute;
      left: 0%;
      top: 0%;
      // transform: rotate(210deg);
      width: 30%;
      // border: 1px solid white;
    }
    
  }


  
.dots {
    padding: 4px;
    border-radius: 20px;
    display: flex;
    width: 4.5em;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #ceeeee7c; /* Darker shade of green */
  }
  
  .dots div {
    width: 8px;
    height: 8px;
    // border: 1px solid #fff; /* White border */
    border-radius: 50%;
    margin: 7px;
    background-color: #0d7785; /* Main theme color */
    transition: 1s ease-in-out;
  }
  
  .goUp {
    transform: translateY(-20%);
  }
  
  .two {
    transform: translateY(45%);
  }
  
  .three {
    transform: translateY(-70%);
  }
  
  
  .headTest{
    color: white;
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background:#c6dcf5;
    background:linear-gradient(45deg, rgba(255, 255, 255, 0.418), #9bc3f0, white);
    // background: rgba(42, 0, 231, 0.137);
    width: 100%;
    overflow: hidden;
    min-height: 100vh; /* Ensure container takes at least full viewport height */
height: auto;
position: relative;
z-index: 2;
// height: 100%;
    // background: linear-gradient(40deg,white, rgba(23, 7, 65, 0.479), rgba(42, 0, 231, 0.212));
    // background:rgba(184, 201, 190, 0.822);
    // background:  rgba(7, 61, 65, 0.479);
    // background-blend-mode: darken;
    // background: white;
  //   background:  
  //   url("../../public/image_asoroauto.webp") no-repeat center center, 
  //  linear-gradient(40deg, white, rgba(6, 10, 240, 0.479),  rgba(6, 10, 240, 0.479));
  // background-size: cover; /* Ensures the image covers the entire element */
  background-attachment: fixed; /* Optional: Keeps the background image fixed while scrolling */
  background-position: center; /* Ensures the image is centered */ // background-repeat: no-repeat;
    .cont_header{
        width: 100%;
        // border: 1px solid black;
        height: 4em;
        position: absolute;
        top: 0%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        // background: rgba(10, 1, 53, 0.911);
        // box-shadow:  0 6px 10px rgba(0, 0, 0, 0.527);;

    }

    @media (max-width:636px) {
        .cont_header{
            width:98%
        }
      }

         
      //  .imgWrapper{
      //   position: absolute;
      //   top: 0;
      //   left:-10%;
      //  //  width: 100%;
      //  img{
      //    width: 40em;
      //    height: 40em;
      //    transform: rotate(210deg);
      //    display: block;
      //  }
      //  .leftt{
      //    width: 40em;
      //    height: 40em;
      //    transform: rotate(-220deg);
      //    position: absolute;
      //    left: -2%;
      //    top: 0;
      //  }
      //  .top{
      //    width: 40em;
      //    height: 40em;
      //    transform: rotate(-120deg);
      //    position: absolute;
      //    left: -2%;
      //    top: 0;
      //  }
      //  }
  }
  .innerCont {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    width: 55%;
    height: 26.3em; /* Maintain fixed height */
    // position: absolute;
    // top: 17%;
    // left: 50%; /* Center horizontally */
    // transform: translateX(-50%); /* Centering adjustment */
    // background: rgba(0, 0, 0, 0.247); /* Light background with slight transparency */
    border-radius: 10px; /* Rounded corners */
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.938); /* Soft shadow for depth */
    // border: 1px groove rgba(0, 0, 0, 0.479); /* Subtle border for definition */
    // backdrop-filter: blur(2px); /* Optional: blurred background for modern look */
    background:linear-gradient( rgba(255, 255, 255, 0.575),  rgba(6, 10, 240, 0.068));
    background-blend-mode:color-burn;
    background-position-y: top;
    font-family: sans-serif;
    background-size: 40em;
    overflow: auto;
    // border: 1px solid black;
    // height: 70%;
    max-height: 70vh;
    margin-top: 5em;
  //  background:rgba(255, 255, 255, 0.658);
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
}

@media (max-width: 768px) {
    .innerCont {
        width: 80%; /* Full width on smaller screens */
        // height: auto; /* Adjust height for responsiveness */
        // max-height: 75vh; /* Maximum height to ensure it fits within the viewport */
    }
}
@media (max-width: 636px) {
    .innerCont {
        width: 80%; /* Full width on smaller screens */
        // height: auto; /* Adjust height for responsiveness */
        // max-height: 75vh; /* Maximum height to ensure it fits within the viewport */
    }
}
@media (max-width: 425px) {
    .innerCont {
        width: 95%; /* Full width on smaller screens */
        // height: auto; /* Adjust height for responsiveness */
        // max-height: 75vh; /* Maximum height to ensure it fits within the viewport */
    }
}


// @media (min-height: 706px) {
//     .innerCont {
//         height: 30vh; /* Full width on smaller screens */
//         /* height: auto;  Adjust height for responsiveness */
//         /* max-height: 75vh;  Maximum height to ensure it fits within the viewport */
//     }
// }

  .sender {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    margin: 3px 0; /* Vertical spacing between messages */
    // flex-wrap: wrap;
    // border: 1px solid black;
    margin-bottom: 5px;
    .senderInner {
    max-width: 19em;
    font-size: 13px;
    font-family: sans-serif;
    // background-color: #ff8c00; /* Light blue background */
    // border: 1px solid #FB8C00; /* Darker blue border */
    background:#60a6f0;
    // background: rgba(97, 167, 162, 0.945);
    // border: 1px solid rgb(94, 167, 151);
    padding: 10px; /* Inner padding */
    border-radius: 8px; /* Rounded corners */
    height: fit-content;
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    color: white;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(111, 226, 178, 0.1); /* Subtle shadow */
    .sendBut{
      width: 100%;
      padding: 10px;
      display: block;
      background: #051c35;
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.171);
      // border: 1px solid rgb(94, 167, 151);
      color: white;
    }
    .files{
       width: 17em;
      // height:10em;
      border: 1px solid rgb(94, 167, 151);
      display: flex;
      align-items: center;
      // justify-content: center;
      flex-wrap: wrap;
      overflow: auto;
      .file{
        width: 5em;
        // height: 8em;
        display: block;
        border: 1px solid rgba(50, 58, 50, 0.048);
        margin: 3px;
        background-color: #28504383;
        border-radius: 5px;
        .img{
          width: 100%;
          height: 100%;
        }
      }
      .vid{
        width: 100%;
        height: 10em;
      }
    }
    img{
      width: 100%;
    }
  }
.dot{
  max-width: 17em;
  font-size: 16px;
  font-family: sans-serif;
  background:inherit;
  border:none ;
    padding: 0px; /* Inner padding */
    border-radius: 0px; /* Rounded corners */
}

}


.receiver {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    margin:3px 0; /* Vertical spacing between messages */
    margin-bottom: 5px;
    .receiverInner {
    max-width: 19em;
    font-size: 13px;
    font-family: sans-serif;
    background-color: hsl(0, 100%, 99%); /* Light green background */
    border: 1px solid #eeece9; /* Darker green border */
    padding: 10px; /* Inner padding */
    border-radius: 8px; /* Rounded corners */
    height: fit-content;
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    letter-spacing: 2px;
    // box-shadow: 0 2px 5px rgb(255, 255, 255); /* Subtle shadow */

    .files{
      width: 17em;
     // height:10em;
     border: 1px solid rgb(94, 167, 151);
     display: flex;
     align-items: center;
     // justify-content: center;
     flex-wrap: wrap;
     overflow: auto;
     .file{
       width: 5em;
       // height: 8em;
       display: block;
       border: 1px solid rgba(50, 58, 50, 0.048);
       margin: 3px;
       background-color: #28504383;
       border-radius: 5px;
       .img{
         width: 100%;
         height: 100%;
       }
     }
     .vid{
       width: 100%;
       height: 10em;
     }
   }
    .paymentLink{
        text-decoration: none;
        color:rgb(214, 193, 4);
        font-weight:bold;
        background: #000000;
        padding: 2px;
        border-radius: 4px;
        // border: 1px solid black;
    }
    img{
      width: 100%;
    }
    
}
.dot{
  max-width: 17em;
  font-size: 16px;
  font-family: sans-serif;
  background:white;
  border:none ;
    padding: 0px; /* Inner padding */
    border-radius: 0px; /* Rounded corners */
}
}
.others {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    margin-top: -5px; /* Vertical spacing between messages */
    .othersInner {
    max-width: 20em;
    font-size: 11px;
    font-family: sans-serif;
    background-color: #2e2e2e; /* Light green background */
    // border: 1px solid #757574e1; /* Darker green border */
    padding: 10px; /* Inner padding */
    border-radius: 8px; /* Rounded corners */
    color: #f8f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */

    .paymentLink{
        text-decoration: none;
        color:#f18909;
        font-weight:bold;
        background: #000000;
        padding: 2px;
        border-radius: 4px;
        // border: 1px solid black;
    }
}
}

.biggerPic{
  width: 100%;
  height: 100vh;
  // border: 1px solid rgb(255, 255, 255);
  position: fixed;
  top: 0%;
  left: 0%;
  // background: rgba(255, 248, 248, 0.89);
display: flex;
align-items: center;
justify-content: center;
z-index: 3;
// position: relative;
// display:none;
  .img{
   width: 60%;
  //  height: 90%;
  //  border: 1px solid rgba(255, 255, 255, 0.281);
   display: flex;
align-items: center;
justify-content: center;
// overflow: auto;
border-radius: 20px;
padding-top: 4em;
position: absolute;
 @media (min-width:768px) {
  &{
    width: 30%;
    // height: 90%;
  }
 }
img{
  width: 100%;
  height:80%;
  // @media (min-width:768px) {
  //   &{
  //     // width: 0%;
  //     height: 30%;
  //   }
  //  }
}
  }

  .biggerPicWrapper{
    width: 100%;
    height: 100vh;
    // border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.904);
  }
  
}

  .inputSection {
    display: flex;
    padding: 2px;
    background: rgb(183, 170, 248); /* Light green background */
    width: 53%;
    // position: absolute;
    // bottom: 2%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px; /* Rounded corners for the entire section */
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.418); /* Subtle shadow for depth */
    height: 4em;
    background: rgba(255, 255, 255, 0.164);
    margin-top: 5px;
    align-items: center;

    input {
      flex: 1;
      padding: 10px;
      border: 1px solid #00000062; /* Theme color for border */
      border-radius: 4px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      background: rgba(255, 255, 255, 0.753);
      transition: border 0.3s; /* Smooth transition for border color */
      
      &:focus {
        // border-color: #cf7403; /* Darker shade on focus */
        outline: none; /* Remove default outline */
      }
      
    }

   i{
    display:block;
    font-size: 23px;
    // border: 1px solid #00000062; /* Theme color for border */
    border-radius: 4px;
    margin-left: 4px;
    // background: rgb(98, 168, 166);
    background:  #007bff88;
    color: white;
    box-shadow: 0 0 5px white;
    padding: 5px;
    cursor: pointer;
      // background:url("../../public/image_asoroauto.webp");
      // background-size: cover;
      // width: 24px;
      // height:24px;
      // display: inline-block;
    }
  
    button {
      padding: 10px;
      margin-left: 10px;
      background:  #007AFF; /* Theme color for button */
      color: white;
      border: none;
      border-radius: 4px;
      height: 4em;
      // transition: background 0.3s; /* Smooth transition for background color */
      
      &:hover {
        background: #0264ce; /* Darker shade on hover */
      }
  
      &:disabled {
        background:#007bff49; /* Light grey for disabled state */
      }
    }
  }
  
  @media (max-width:636px) {
    .inputSection{
        width:95%
    }
  }


  
.errorMessage {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0; /* Add some vertical spacing */
    background-color: #ff01012d; /* Light red background */
    border: 1px solid #f80707; /* Darker red border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(248, 248, 248, 0.062); /* Subtle shadow for depth */
.errorMessageInner {
    max-width: 20em; /* Control width */
    color: #d8000c; /* Dark red text color */
    font-weight: bold; /* Make text bold */
    padding: 10px; /* Inner padding */
    border-radius: 5px; /* Rounded corners */
    font-family: sans-serif;
    font-size: 12px;
}

/* Optional: Add hover effect for error messages */
.errorMessage:hover {
    background-color: #ffd6d6; /* Slightly darker on hover */
    border-color: #ff1a1a; /* Darker border on hover */
    cursor: pointer; /* Change cursor on hover */
}
  }


  // Header.scss
.header {
  background:linear-gradient(#edf6ff, rgba(255, 255, 255, 0.253));
  // background-color: #082730cc;
  // color: #007AFF;
  // color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 2px solid white;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: 2px;
    .logo {
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      img{
        width: 2em;
        height: 2em;
        background: rgba(26, 25, 3, 0.048);
        border-radius: 50%;
        padding: 2px;
      }
      span{
        display: flex;
        margin-left: 5px;
        align-items: center;
        .message{
          font-family: cursive;
          font-size: 14px;
          // background: rgb(1, 4, 12);
          // color: white;
          padding: 2px;
          border-radius: 5px;
        }
        @media (max-width:476px) {
          &{
            display: flex;
            flex-direction: column;
            font-size: 13px;
            width: 7em;
            // display: none;
          }
        }
      }
    }
    .menu-icon {
      font-size: .3rem;
      cursor: pointer;
      display: none;
    }
    .nav {
      display: flex;
      @media (max-width:476px) {
        &{
          font-size: 13px;
          width: 10em;
          font-size: 13px;
          // display: none;
        }
      }
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin: 0 1rem;
          // border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          @media (max-width:476px) {
            &{
              margin: 5px;
            }
          }
          a {
            color: white;
            text-decoration: none;
            font-size: .8rem;
            padding: 4px;
            border-radius: 5px;
            color: rgb(0, 0, 0);
            &:hover {
              // text-decoration: underline;
             color: rgb(7, 7, 85);
              background-color: white;
              transition: .1s ease-in-out;
            }
            @media (max-width:476px) {
              &{
                font-size: 11px;
                // display: none;
              }
            }
          }
          &.chat{
            // border: 1px solid black;
            width: 5em;
            span{
              display: flex;
              align-items: center;
              justify-content: center;
              width:1.7em;
              height:1.7em;
              padding: 4px;
              border-radius: 50%;
              background-color: rgb(255, 38, 0);
              color: white;
              margin-right: 5px;
              font-weight: bold;
              position: absolute;
              top:-30%;
              right: -30%;
              // border: 1px solid black;
            }
          }
        }
      }
    }
  }
}

// Media query for responsiveness
// @media (max-width: 768px) {
//   .header-content {
//     .menu-icon {
//       display: block;
//     }
//     .nav {
//       position: absolute;
//       top: 100%;
//       left: 0;
//       width: 100%;
//       background-color: #2c3e50;
//       display: none;
//       &.active {
//         display: block;
//       }
//       ul {
//         flex-direction: column;
//         li {
//           margin: 0.5rem 0;
//         }
//       }
//     }
//   }
// }

  

// AboutUs.scss
.about-us {
  width: 100%;
  padding: 20px;
  padding-top: 6em;
  background-color: #e7f3ff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h1 {
      color: #333;
      font-size: 2.5rem;
      margin-bottom: 20px;
      max-width: 700px;
  }

  h2 {
      color: #555;
      font-size: 1.75rem;
      margin-top: 20px;
      max-width: 700px;
  }

  p {
      color: #666;
      line-height: 1.6;
      max-width: 700px;
  }

  ul {
      list-style-type: disc;
      padding-left: 20px;
      max-width: 700px;

      li {
          color: #666;
          margin: 5px 0;
          list-style-type: none;
          text-align: center;
      }
  }
}

// LoadingSpinner.scss
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: rgba(255, 255, 255, 0.507);
  height: 100vh; // Full viewport height

  .spinner {
    width: 50px; // Width of the spinner
    height: 50px; // Height of the spinner
    border: 5px solid #f3f3f3; // Light background color
    border-top: 5px solid #3498db; // Spinner color
    border-radius: 50%; // Make it circular
    animation: spin 1s linear infinite; // Spin animation
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.bouncing-spinner {
    display: flex;
    align-items: center;
  }
  
  .bouncing-spinner > div {
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 100%;
    margin: 0 5px;
    animation: bounce 2s infinite ease-in-out;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(0) translateY(0);
    }
    50% {
      transform: scale(1) translateY(100%);
    }
  }
  
  .bounce1 {
    animation-delay: -5s;
  }
  
  .bounce2 {
    animation-delay: -3;
  }
  
  .bounce3 {
    animation-delay: 1;
  }
   


